<html>
  <head>
    <title>Home Page</title>
  </head>
  <body>
    <h1>Welcome</h1>
    <a href="<%= aboutUrl %>">Learn more about us</a>
    <a href="<%= contactUrl %>">Contact us</a>
  </body>
</html>